body {
    margin: 0;
}

.tela {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.itens {
    width: 100%;
    height: 100%;
    min-height: 25%;
    margin: -5px 0 5px 0;
    display: flex;
    flex-direction: column;
}

.itenssub {
    width: calc(100% - 20px);
    height: 100%;
    min-height: 25%;
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: column;
}

.principal {
    background-color: antiquewhite;
    margin: 5px 5px 5px 0;
    width: 1%;
    height: 100vh; 
    border-radius: 20px; 
    display: flex;
    flex: 1;
}


.divformulario {
    margin: 5% auto;
    width: clamp(1%, 500px, 70%);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.formulariogeral {
    background-color: aqua;
    padding: 5px;
}

.idcamp {
    width: clamp(1px, 25px, 100%);
    margin: auto;
    display: grid;
}

.disponivelcamp {
    width: 100%;
    
}

.formulariobox {
    width: 1px;
    background-color: azure;
    margin: 2.5px;
    padding: 10px;
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
}

.nomecamp {
    width: clamp(1px, 100%, 96%);
}

.labelflex {
    display: flex;
    flex-direction: row;
}

.lateral {
    width: 250px;
    display: block;
}



#title {
    background-color: aquamarine;
    margin: 5px;
    min-height: 25%;
    height: 100px;
    border-radius: 20px 20px 0 0;
    flex: 1;
}

.ferramentas {
    background-color: rgb(255, 131, 131);
    min-height: 25%;
    height: 100vh;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.ferramentastxt {
    text-align: left;
    margin: 8px 10px;
    font-family: 'Courier New', Courier, monospace;
}

.cadastroedit, .cadastroeditar {
    height: 25px;
    border: 0.5px solid rgb(165, 165, 196);
    background-color: rgb(220, 220, 255);
    overflow: hidden;
}

.cadastroedit:hover, .cadastroeditar:hover {
    height: 25px;
    border: 0.5px solid rgb(80, 80, 156);
    background-color: rgb(119, 119, 175);
}

.flex1 {
    flex: 1;
}

.textoedit {
    padding: 2px;
    margin: auto 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textoform {
    text-align: center;
}

.lastborder {
    border-radius: 0 0 5px 5px;
}

.lastborder2 {
    border-radius: 0 0 0 5px;
}

.ajustes {
    display: flex;
}

.cadastro, .editar, .relatorios, .opcoes {
    background-color: aliceblue;
    width: 100%;
    height: 35px;
    border-radius: 5px 0 0 5px;
    margin: 0 0 5px 0;
    overflow: hidden; 
}

.openseta {
    background-color: rgb(175, 175, 175);
    width: 35px;
    height: 35px;
    border-radius: 0 5px 5px 0;
    float: right; 
}

.opensetasub {
    background-color: rgb(159, 159, 187);
    width: 31px;
    height: 27px;
    border-radius: 0 5px 5px 0;
    float: right; 
}

.openseta-img {
    width: 15px;
    margin: calc(35px /4);
}

.opensetasub-img {
    width: 10px;
    margin: calc(35px /4);
}

.texto {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.logo {
    width: 50px;
    margin: 10px auto;
}

.logo2 {
    width: 35px;
    margin: 5px auto;
    display: none;
}

.lateraloff {
    width: 40px;
    background-color: aquamarine;
    margin: 5px;
    min-height: 25%;
    height: 100vh;
    border-radius: 20px 20px 0 0;
    display: none;
}

#logo-img {
    width: 50px;
}

#logo-img2 {
    width: 35px;
}

@media only screen and (max-width: 600px) {  
    .lateral {
      width: 40%;
    }
    .labelflex {
        flex-direction: column;
    }
  }
